<div class="body" id="body">

<div class="header">
  <h1>Indecision</h1>
  <h3>Put your life in the hands of a computer.</h3>
</div>

<button class="btn" (click) = "showLatest()" [disabled] = "isBtnDisabled" [ngClass] = "{'btndisabled' : }">What Should I Do?</button>

<div class="box">
  <div class="box-head">
    <h3>Your Options</h3>
    <button (click) = "removeAll()" class="remove-all-btn">Remove All</button>
  </div>

  <div class="box-body">
    <h3 *ngIf = "showInitialText">Please add an option to get started!</h3>
    
    <ol>
      <li *ngFor ="let ind of inputArray">
        <span>{{ind}}</span>
        <button (click) = "removeInd(ind)">Remove</button>
      </li>
    </ol>
  </div>

  <div class="footer">
    <h3 *ngIf = "inputError">Enter valid value to add item.</h3>
    <input type="text" [value] = "input" (input) = "handleInput($event)">
    <button (click) = "submit()">Add Option</button>
  </div>

</div>

</div>


<div class="modal" *ngIf = "showModal">

    <h3>Last Entered Option</h3>
    <h2>{{latestInput}}</h2>
    <button (click) = "closeModal()">Okay</button>

</div>
